extends ../layouts/layout

block content
  .content.con-white.min-content
    .sm-container.application
      .page-header
        h2.text-primary= val.curri_name
        p.text-danger= error_message
      hr
      form.form-horizontal(action='/courses/' + val.curri_id + '/book', method='post')
        .form-group.form-group-lg
          label.col-sm-2.col-xs-12.control-label(for='email') 이메일
          .col-sm-10.col-xs-12
            p#email.form-control-static= user.email
            span.help-block
        .form-group.form-group-lg
          label.col-sm-2.col-xs-12.control-label(for='name') 성명
          .col-sm-10.col-xs-12
            p#name.form-control-static= user.name
            span.help-block
        .form-group.form-group-lg
          label.col-sm-2.col-xs-12.control-label(for='tel_no1') 전화번호
          .col-md-10
            .col-sm-3.col-xs-4
              select#tel_no1.form-control(name='tel_no1')
                - var options = ['010', '011', '016', '017', '018', '019'];
                each opt in options
                  option(value= opt, selected= (user.tel_no1 == opt))= opt
            .col-sm-3.col-xs-4
              label.sr-only(for='tel_no2') -
              input#tel_no2.form-control(type='text' name='tel_no2' value= user.tel_no2 required='' maxlength=4 pattern="[0-9]+" title="숫자만 입력해주세요.")
            .col-sm-3.col-xs-4
              label.sr-only(for='tel_no3') -
              input#tel_no3.form-control(type='text' name='tel_no3' value= user.tel_no3 required='' maxlength=4 pattern="[0-9]+" title="숫자만 입력해주세요.")
        hr
        h5.text-highlight 찜예약하기
        p 찜예약을 하시면 강좌 개설 시 문자 알림을 받을 수 있습니다.
        br
        br
        .form-group.form-group-lg
          .row
            .col-md-6.col-md-offset-3
              .col-xs-6
                button.btn.btn-lg.btn-outline-save.btn-block(type='submit') 찜예약
              .col-xs-6
                a.btn.btn-outline.btn-lg.btn-block(href='/courses/' + val.curri_id, role='button') 돌아가기
  #snackbar= message                

  script(type='text/javascript').   
    $(function () {
      // 결과 메세지 화면 출력
      if($('#snackbar').text() == "")
        return;
      $('#snackbar').addClass('show');
      setTimeout(function(){ $('#snackbar').removeClass(); }, 3000);
    });                            